// File: variables.less

// -------------------------
// Buttons
// -------------------------


// Match all btn borders to background
@btn-danger-border:                @btn-danger-bg;
@btn-default-bg:                   @gray-lighter;
@btn-default-border:               @btn-default-bg;
@btn-info-border:                  @btn-info-bg;
@btn-primary-border:               @btn-primary-bg;
@btn-success-border:               @btn-success-bg;
@btn-warning-border:               @btn-warning-bg;

// Secondary button
@btn-secondary-color:              #fff;
@btn-secondary-bg:                 @brand-secondary;
@btn-secondary-border:             @btn-secondary-bg;


// -------------------------
// Colors
// -------------------------

// Black and white
@black:                     #080808;
@white:                     #ffffff;

// Brand colors
@brand-primary:             #F6624A;
@brand-secondary:           #0eaaa6;
@brand-success:             #669900;
@brand-info:                #5bc0de;
@brand-warning:             #ffcc33;
@brand-danger:              #cb2027;

// Grays
@gray-darkest:              #2b2b2b;
@gray-darker:               #444444;
@gray-dark:                 #696969;
@gray:                      #999999; //#848484;
@gray-light:                #cccccc;
@gray-lighter:              #ececec;
@gray-lightest:             lighten(@gray-lighter,4%);



// -------------------------
// Scaffolding
// -------------------------

@text-color:                @gray-darker;
@text-muted:                @gray;
@text-muted-dark:           @gray-dark;
@text-secondary:            @brand-secondary;



// -------------------------
// Typography
// -------------------------

@font-family-sans-serif:  'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif; // override bootstrap
@headings-font-weight:    @font-weight-semibold; // override bootstrap

@font-weight-bold:        700;
@font-weight-light:       300;
@font-weight-semibold:    500;